.mgl-navBar {
    display: flex;
    flex-direction: row; /* Movemos la sidebar a horizontal */
    background-color: #2a5285;
    width: 100%; /* Ancho igual al 100% del contenedor */
    height: 50px; /* Altura de la barra */
    position: fixed; /* Fijar la barra en la ventana del navegador */
    top: 0; /* Alinear la barra con la parte superior de la ventana */
    left: 0; /* Alinear la barra con el borde izquierdo de la ventana */
    z-index: 1000; /* Asegurarse de que la barra esté por encima del contenido */
    display: flex;
    align-items: center;
}

/*Ajustamos los elementos del navBar*/
.mgl-navContainer {
    display: flex;
    justify-content: space-around; /* Espacio entre los elementos, sin llegar a los bordes */
    align-items: center;
    width: 100%; /* Ancho del contenedor completo */
    padding: 0 20px; /* Añadir padding a los lados si es necesario */
}

.mgl-navRight {
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre los elementos de la derecha */
}

/*Elementos bajo la barra de navegación, para que no se superpongan*/
.mgl-divBellowNav {
    margin-top: 50px;
}

.mgl-logo {
    width: 128px;
    height: 36px;
}

/*Lo uso para el icono de Profile*/
.mgl-icons {
    width: 24px;
    height: 24px;
}

/*Carátulas en el Homepage*/
.mgl-covers {
  max-width: 65%;
  min-width: 65%;
  display: block;
  margin: 0 auto; /* Centra la imagen horizontalmente */
}

.mgl-loginLogoutButton {
    display: inline-block;
    padding: 6px 12px;
    background-color: #2a5285;
    color: white;
    text-decoration: none; /* Evita el subrayado */
    border-radius: 5px;
    border: 2px solid #ffffff; /* Borde exterior */
}

.mgl-loginLogoutButton:hover {
  display: inline-block;
  padding: 6px 12px;
  background-color: white;
  color: #2a5285;
  text-decoration: none; /* Evita el subrayado */
  border-radius: 5px;
  border: 2px solid #ffffff; /* Borde exterior */
}

/*Lo uso en Admin.js y GamePage.js*/
.mgl-grid-container-two-Objects {
  display: grid;
  grid-template-columns: auto auto; /*Cada auto representa una columna*/
  gap: 16px; /* Espacio entre los artículos */
  justify-items: center;
}

/*Para el grid de juegos*/
.mgl-grid-admin-container {
  display: grid;
  grid-template-columns: auto auto auto; /*Cada auto representa una columna*/
  gap: 2px;
  justify-items: center; /* Centrar los elementos horizontalmente */
}

.mgl-grid-admin-users-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Utilizar fracciones para que las columnas ocupen el mismo espacio */
  column-gap: 16px;
  justify-items: center; /* Eje horizontal */
  align-items: center; /* Eje vertical */
}

.mgl-grid-admin-users-container > article {
  margin-bottom: 16px; /* Espacio entre las filas */
}

/* Contenedor de la cuadrícula para los artículos de los juegos */
.mgl-grid-game-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2px; /* Espacio entre los artículos */
    justify-items: center; /* Centrar los elementos horizontalmente */
}

.mgl-gameCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #222;
  font-size: .8rem;
  width: 100%;
  max-width: 300px; /* Ancho máximo para las tarjetas */
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.mgl-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.mgl-gameCard-buttons{
    display: flex;
    flex-direction: column;
    align-items: center; /*Alineadmos el contenido del contenedor basándonos en la altura del padre (mgl-gameCard)*/
    gap: 10px;
    margin-top: -18px;
    margin-bottom: 12px;
    width: 50%; /* Ancho completo del contenedor padre (mgl-gameCard)*/
}

.mgl-link-profile{
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.mgl-link-game{
  text-decoration: none;
  color: #000;
  align-items: center;
  font-weight: bold;
  margin-right: auto;
}

.mgl-link {
    text-decoration: none;
    cursor: pointer;
    border: 0;
    border-radius: 999px;
    padding: 3px 12px;
    font-weight: bold;
    border: 1px solid #000;
    transition: .3s ease background-color;
    color: #000;
  }
 
/* Al pasar el ratón */
.mgl-link:hover {
  background-color: #f0f0f0; 
}

/*UserProfile.js*/
.mgl-userProfile {
  display: flex;
  justify-content: space-between;
}
  
.mgl-section {
  flex: 1;
  color: #2a5285;
  border: 2px solid #2a5285;
  margin: 0 10px;
  padding: 10px 46px; /* Espacio 10px superior 46px lateral */
  width: 100%; /* Ancho relativo al contenedor */
  min-width: 380px; /* Máximo ancho permitido */
}

.mgl-section-grid {
  display: grid;
  /* grid-template-columns: 0.5fr 0.2fr 0.3fr; */
  align-items: center; /* Eje vertical */
  width: 100%;
  margin: 5px 0; /* Espacio entre las filas */
}

.mgl-section-grid.header {
  font-weight: bold;
}

.mgl-userProfileGames{
  display: flex;
  justify-content: space-between;
  width: 100%; /* Ancho completo del contenedor padre (mgl-section)*/
}

label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

input[type="checkbox"] {
  margin-right: 8px;
}

.mgl-button{
  background-color: #2a5285;
  border: none;
  color: white;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.mgl-button-green {
  text-decoration: none;
  cursor: pointer;
  border: 0;
  border-radius: 999px;
  padding: 3px 12px;
  font-weight: bold;
  border: 2px solid #2f6d39;
  transition: .3s ease background-color;
  color: #2f6d39;
}

/* Al pasar el ratón */
.mgl-button-green:hover {
  background-color: #2f6d39; 
  color: #ffffff;
}

.mgl-button-blue {
  text-decoration: none;
  cursor: pointer;
  border: 0;
  border-radius: 999px;
  padding: 3px 12px;
  font-weight: bold;
  border: 2px solid #2a5285;
  transition: .3s ease background-color;
  color: #2a5285;
}

/* Al pasar el ratón */
.mgl-button-blue:hover {
  background-color: #2a5285; 
  color: #ffffff;
}

.mgl-button-yellow {
  text-decoration: none;
  cursor: pointer;
  border: 0;
  border-radius: 999px;
  padding: 3px 12px;
  font-weight: bold;
  border: 2px solid #dfa947;
  transition: .3s ease background-color;
  color: #dfa947;
}

/* Al pasar el ratón */
.mgl-button-yellow:hover {
  background-color: #dfa947; 
  color: #ffffff;
}

.mgl-button-delete {
  text-decoration: none;
  font-size: .8rem;
  cursor: pointer;
  border: 0;
  border-radius: 999px;
  padding: 3px 10px;
  font-weight: bold;
  border: 2px solid #b12828;
  transition: .3s ease background-color;
  color: #b12828;
}

/* Al pasar el ratón */
.mgl-button-delete:hover {
  background-color: #b12828; 
  color: #ffffff;
}
